/* normalize css starts here */
@import url(popup/form.css);
@import url(popup/icon.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  background-color: #fefff6;
  color: #424242;
  font-size: 1.4rem;
  font-weight: 500;
}

body {
  width: 400px;
  height: 500px;
  font-family: "shanggu-serif";
}
a {
  appearance: none;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}
.app {
  padding: 5% 10% 0;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 1.5em;
}
#content {
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  position: relative;
}

.content {
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  position: relative;
}

.button {
  border-radius: 5px;
  background-color: var(--btn-color);
  padding: 0.5em 0.5em;
  user-select: none;
  cursor: pointer;
  text-align: center;
  font-weight: bolder;
  color: #1a1a1a;
  font-size: 0.9em;
  text-align: center;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.button:hover {
  background-color: var(--btn-hover-color);
  color: #0a0a0a;
}

.button[disabled] {
  background-color: #eee;
  cursor: not-allowed;
}

.word-num-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  font-size: 0.85em;
  padding: 0 10%;
}
#word-num-pre {
  flex: 5%;
}
#word-num {
  font-size: 3.5em;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  flex: 1;
  flex-grow: 1;
  margin: 0 auto;
  text-align: center;
}
#word-num-after {
  flex: 5%;
  align-self: flex-end;
  text-align: end;
  padding-right: 1em;
}

#light-btn {
  position: absolute;
  width: 100%;
  height: 2.5em;
  bottom: 5%;
}

#config {
  overflow: auto;
}

.config-panel {
  font-size: 0.9em;
  margin-top: 1em;
  padding: 0 0.3em;
  color: #6a6a6a;
}

.config-panel > * {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.hidden {
  display: none !important;
}

.list-item {
  display: flex;
  flex-direction: column;
  font-size: 0.6em;
  margin: 0.5em 0;
}

.list-item > a {
  align-self: flex-end;
  font-size: 0.8rem;
  opacity: 0.9;
  user-select: none;
  cursor: pointer;
}

.list-item > div {
  max-width: 100%;
  word-wrap: break-word;
}

.click-img {
  user-select: none;
  cursor: pointer;
}
