/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  background-color: #fefff6;
  color: #424242;
}

body {
  width: 350px;
  height: 300px;
}

.app {
  padding: 5% 10%;
}

.title {
  font-size: 2em;
  font-weight: 300;
}
